<form>
  <div class="mb-3">
    <input type="text" required class="form-control" id="exampleInputUserId1" placeholder="User Id">
  </div>
  <div class="mb-3">
    <input type="password" required class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember Password</label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
