<form>
  <div class="mb-3">
    <input type="text" required class="form-control" id="exampleInputUserId1" placeholder="User Id">
  </div>
  <div class="mb-3">
    <input type="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Id">
  </div>
  <div class="mb-3">
    <input type="password" required class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">I agree to the terms & conditions</label>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
