<h2>{{city}}</h2>
<h2>Nhiệt độ: {{temp}}<sup>o</sup>C</h2>
<h2>Độ ẩm: {{hump}}%</h2>
<h2>Áp suất: {{press}}</h2>
<button (click)="hanoi()" class="btn btn-warning m-2" type="button">Hà Nội</button>
<button (click)="saigon()" class="btn btn-warning m-2" type="button">Tp.Hồ Chí Minh</button>
<button (click)="london()" class="btn btn-warning m-2" type="button">London</button>
<button (click)="newyork()" class="btn btn-warning m-2" type="button">New York</button>
<button (click)="tokyo()" class="btn btn-warning m-2" type="button">Tokyo</button>
<button (click)="berlin()" class="btn btn-warning m-2" type="button">Berlin</button>
